<section class="service-top">

    <div class="text-center pb-5">
        <img src="../../../../assets/Digital transformation.gif" alt="">
    </div>
    <div class="container">
        <div  class='text-center'>
            <h2 class="text-center">Services</h2>
    
            <p>Gain competitive edge with our custom development services for businesses with a unique approach.</p>
        </div>
    
        <div class="row ">
            <div class="col-lg-6">
                <div class="card text-center card-main">
                    <div>
                        <img width="52px" src="../../../../assets/internet-explorer-brands.svg" alt="">
                    </div>
                    <h3>Web Applications</h3>
                    <p>From front end to back end and everything in between, our integrated solutions are built around
                        modern web technologies that run seamlessly on most modern web browser and apps.
                    </p>
    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card text-center card-main">
                    <div>
                        <img width="52px" src="../../../../assets/internet-explorer-brands.svg" alt="">
                    </div>
    
                    <h3>Mobile Applications</h3>
                    <p>From front end to back end and everything in between, our integrated solutions are built around
                        modern web technologies that run seamlessly on most modern web browser and apps.</p>
    
                </div>
            </div>
    
            <div class="col-lg-6">
    
                <div class="card text-center card-main">
                    <div>
                        <img width="52px" src="../../../../assets/internet-explorer-brands.svg" alt="">
                    </div>
    
                    <h3>E-commerce & CMS</h3>
                    <p>From front end to back end and everything in between, our integrated solutions are built around
                        modern web technologies that run seamlessly on most modern web browser and apps.</p>
    
                </div>
            </div>
            <div class="col-lg-6">
    
                <div class="card text-center card-main">
                    <div>
                        <img width="52px" src="../../../../assets/internet-explorer-brands.svg" alt="">
                    </div>
    
                    <h3>ERP</h3>
                    <p>From front end to back end and everything in between, our integrated solutions are built around
                        modern web technologies that run seamlessly on most modern web browser and apps.</p>
    
                </div>
            </div>
        </div>
    </div>

    <!-- solutions -->

    <div class="solution-sec p-5 mt-4">

        <h1 class="text-center">Solutions</h1>

        <div class="row">
            <div class="col-lg-3 text-center p-3">
                <div class="bg-white zoom p-4">
                    <div class="text-center">
                        <img src="https://www.topsinfosolutions.com/wp-content/uploads/2018/12/ondeamand-.png" alt="">
                    </div>
    
                    <h4>On-demand Applications</h4>
    
                    <p>Cut the time around your service level agreement with our comprehensive on-demand solutions</p>
                    <div class="read-more-cont">
                        <a href="/on-demand-app-development/" class="read-more-anchor">Know More </a>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 text-center p-3">
                <div class="bg-white zoom p-4">
                    <div class="text-center">
                        <img src="https://www.topsinfosolutions.com/wp-content/uploads/2018/12/ondeamand-.png" alt="">
                    </div>
    
                    <h4>On-demand Applications</h4>
    
                    <p>Cut the time around your service level agreement with our comprehensive on-demand solutions</p>
                    <div class="read-more-cont">
                        <a href="/on-demand-app-development/" class="read-more-anchor">Know More </a>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 text-center p-3">
                <div class="bg-white zoom p-4">
                    <div class="text-center">
                        <img src="https://www.topsinfosolutions.com/wp-content/uploads/2018/12/ondeamand-.png" alt="">
                    </div>
    
                    <h4>On-demand Applications</h4>
    
                    <p>Cut the time around your service level agreement with our comprehensive on-demand solutions</p>
                    <div class="read-more-cont">
                        <a href="/on-demand-app-development/" class="read-more-anchor">Know More </a>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 text-center p-3">
                <div class="bg-white zoom p-4">
                    <div class="text-center">
                        <img src="https://www.topsinfosolutions.com/wp-content/uploads/2018/12/ondeamand-.png" alt="">
                    </div>
    
                    <h4>On-demand Applications</h4>
    
                    <p>Cut the time around your service level agreement with our comprehensive on-demand solutions</p>
                    <div class="read-more-cont">
                        <a href="/on-demand-app-development/" class="read-more-anchor">Know More </a>
                     </div>
                </div>
            </div>
            
        </div>

    </div>


</section>