<div style="margin-top: 150px;" class="container">
    <section class="container">
        <div>
            <h1 class="text-center m-5">Solutions You May Look For</h1>
            <p class="text-center">Massdata Ltd. has versatile core business modules which are capable to manned & manage administrative managerial business propositions entirely & centrally.</p>
    
            <div >
                <div class="tab">
                    <div>
                        <a class="btn btn-success" routerLink="/financial-management-system" routerLinkActive="active">FSM</a>
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/supplyChain-management-system-bd">SCM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/sales-and-distribution-management">SDM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/human-capital-management">HCM</a>
                     </div>
                    <div>
                        <a class="btn btn-success" routerLink="/production-Planning-and-Control">PPC</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/productivity-management">PRD</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/customer-relationship-management">CRM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/office-administration-management">ADM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/project-system">PS</a>
                     </div>
                    <div>
                        <a class="btn btn-success" routerLink="/core-system-components">CSC</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div >
        <div class="p-3">
         

                <h2 class="text-center"><b>Financial Management System</b></h2>
            
        </div>
        <div class="text-white">
            <div style="background-color: #13458E;" class="p-5">
                <h3 class="text-white">Solve all the financial challenges of your business with Massdata Ltd.</h3>
                <p class="text-white">Scalable Business Growth</p>

                <p class="text-white">Proper accounting solution assurance and gives accurate financial information related to all the
                    Financial stuff and can even handle huge amounts of financial transactions easily to make a well
                    aligned business growth for any type of industry. </p>
                <p>Key Features: </p>
                <li>
                    Finacial Accounting
                </li>
                <li>Cost Center</li>
                <li>Treasury</li>
                <li>Enterprise Asset</li>
                <li>Budgeting</li>
                <li>Multi Currency</li>
                <li>Commercial</li>
                <li>Loan</li>
                <li>Recipt Books</li>
                <li>Bill Claim</li>
                <li>Card receipt</li>
                <li>Cheque Books</li>
                
            </div>
        </div>
    </div>
</div>
