<section style="overflow-x: hidden !important;">
    <div class="header">
        <div class="bg text-white d-flex justify-content-between px-5" >
            <div class="d-flex gap-4 ">
                <p style="margin: 0 !important; padding: 0 !important;">info@massdataltd.com</p>
                <p style="margin: 0 !important; padding: 0 !important;">01303316203</p>
            </div>

            <div class="d-flex  gap-4">
                <p style="margin: 0 !important; padding: 0 !important;">User</p>
                <p style="margin: 0 !important; padding: 0 !important;">Register</p>
            </div>
            
        </div>

        <div class="ttt">

            <a class="logo" routerLink="/"><img height="40px"
                    src="../../../../assets/images/cropped-logo4-1-239x40.png" alt="logo"></a>
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>

            <nav class="navbar">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a>About +</a>
                        <ul>
                            <li><a><span class="sss">Hosting +</span></a>
                                <ul>
                                    <li><a routerLink="hosting-privacy-policy"><span class="sss">Privacy Policy</span></a></li>
                                    <li><a routerLink="hosting-service-level-agreement"><span class="sss">Service Level Agreement</span></a></li>
                                    <li><a routerLink="hosting-terms-of-service-tos"><span class="sss">Terms of Services(TOS)</span></a></li>
                                </ul>
                            </li>
                            <li><a routerLink="about-us"><span class="sss">About Us</span></a></li>
                            <li><a routerLink="refund-and-return-policy"><span class="sss">Refund And Return Policy</span></a></li>
                            <li><a routerLink="terms-and-conditions"><span class="sss">Terms And Conditions</span></a></li>
                            <li><a routerLink="privacy-policy"><span class="sss">Privacy Policy</span></a></li>

                        </ul>
                    </li>
                    <li><a>Services +</a>
                        <ul>
                            <li><a><span class="sss">SMS +</span></a>
                                <ul>
                                    <li><a routerLink="masking-sms-in-bd"><span class="sss">Making SMS</span></a></li>
                                    <li><a routerLink="non-masking-sms-in-bd"><span class="sss">Non Making SMS</span></a></li>
                                    <li><a routerLink="otp-provider-in-bd"><span class="sss">OTP(One time pass/pin)</span></a></li>
                                    <li><a routerLink="promotional-sms-in-bd"><span class="sss">Promotional SMS In-Bd</span></a></li>
                                    <li><a routerLink="smpp-gateway-provider-in-bd"><span class="sss">SMPP Solution</span></a></li>
                                </ul>
                            </li>
                            <li><a routerLink="domain-provider-in-bd"><span class="sss">Domain Provider And Reseller</span></a></li>
                            <li><a routerLink=""><span class="sss">Reseller Hosting +</span></a>
                                <ul>
                                    <li><a routerLink="usa-reseller-hosting-in-bd"><span class="sss">Reseller Hosting(USA)</span></a></li>
                                </ul>
                            </li>
                            <li><a routerLink="seo-service-provider-in-bd"><span class="sss">Search Engine Optimization(SEO)</span></a></li>
                        </ul>
                    </li>
                    <li><a>Solutions +</a>
                        <ul>
                            <li><a routerLink="best-eCommerce-Website-Development-Company-in-Bangladesh"><span class="sss">E-commerce Services</span></a></li>
                            <li><a routerLink="sanitary-management-system"><span class="sss">Sanitery Management System</span></a>
                                <!-- <ul>
                                 <li routerLink="sanitary-management-system">Sanitery Management System</li>
                             </ul> -->
                            </li>
                            <li><a routerLink="software-solution-for-industry"><span class="sss">Solutions for Industry</span></a></li>
                       
                            <li ><a routerLink="supply-chain-management-system"><span class="sss">Supply Chain Management System Software(SCM)</span></a></li>
                            <li><a routerLink="custom-ecommerce-website"><span class="sss">Custom Ecommerce Website</span></a></li>

                        </ul>
                    </li>

                    <li><a routerLink="plugins">Plugins</a></li>
                    <li><a routerLink="contact-us"><span >Contact</span></a></li>
                    <li><a routerLink="resources"><span >Resource</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
</section>