<div style="margin-top: 150px;" class="container">
    <section class="container">
        <div>
            <h1 class="text-center m-5">Solutions You May Look For</h1>
            <p class="text-center"><b>Massdata Ltd.</b> has versatile core business modules which are capable to manned & manage administrative managerial business propositions entirely & centrally.</p>
            <div class="text-center">
                <img src="../../../../assets/istp30_62.gif" width="100px" alt="">
            </div>
            <div >
                <div class="tab">
                    <div>
                        <a class="btn btn-success" routerLink="/financial-management-system" routerLinkActive="active">FSM</a>
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/supplyChain-management-system-bd">SCM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/sales-and-distribution-management">SDM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/human-capital-management">HCM</a>
                     </div>
                    <div>
                        <a class="btn btn-success" routerLink="/production-Planning-and-Control">PPC</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/productivity-management">PRD</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/customer-relationship-management">CRM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/office-administration-management">ADM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success try" routerLink="/project-system">PS</a>
                     </div>
                    <div>
                        <a class="btn btn-success" routerLink="/core-system-components">CSC</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div >
        <div class="p-3">
         

                <h2 class="text-center"><b>Project System</b></h2>
            
        </div>
        <div class="text-white">
            <div style="background-color: darkcyan" class="p-5">
                <h3 class="text-white">Enhance the project success rate with efficient project management</h3>
              
                <p>Key Features: </p>
                <li>
                    Project Management
                </li>
                <li>Project Planning</li>
                <li>Project Accounting</li>
                <li>Project Inventory</li>
                <li>Return Merchandise Authorization</li>
                <li>Project BOM</li>
                
                
            </div>
        </div>
    </div>
</div>


