<div style="margin-top: 150px;" class="container">
    <section class="container">
        <div>
            <h1 class="text-center m-5">Solutions You May Look For</h1>
            <p class="text-center">Massdata Ltd. has versatile core business modules which are capable to manned & manage administrative managerial business propositions entirely & centrally.</p>
    
            <div >
                <div class="tab">
                    <div>
                        <a class="btn btn-success" routerLink="/financial-management-system" routerLinkActive="active">FSM</a>
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/supplyChain-management-system-bd">SCM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/sales-and-distribution-management">SDM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/human-capital-management">HCM</a>
                     </div>
                    <div>
                        <a class="btn btn-success" routerLink="/production-Planning-and-Control">PPC</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/productivity-management">PRD</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/customer-relationship-management">CRM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/office-administration-management">ADM</a> 
                    </div>
                    <div>
                        <a class="btn btn-success" routerLink="/project-system">PS</a>
                     </div>
                    <div>
                        <a class="btn btn-success" routerLink="/core-system-components">CSC</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div >
        <div class="p-3">
         

                <h2 class="text-center"><b>Human Capital Management</b></h2>
            
        </div>
        <div class="text-white">
            <div style="background-color: #13458E;" class="p-5">
                <h3 class="text-white">Increase your management efficiency with higher accuracy of performance calculation</h3>
              
                <p>Key Features: </p>
                <li>
                    Personal Information Management System
                </li>
                <li>Training & Specialization</li>
                <li>Time & Attendance</li>
                <li>Employee Loan</li>
                <li>Employee Tax</li>
                <li>Payroll</li>
                <li>Employee Self Service</li>
                <li>Provident Fund & Gratuity Fund</li>
                <li>Performance Appraisal</li>
                <li>Disciplinary Management</li>
                <li>Final Settlement & Exit Clearance</li>
                <li>Budget & Cost Center</li>
                
                
            </div>
        </div>
    </div>
</div>
